Source: anyio
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 9),
  python3-setuptools-scm (>> 3)
Standards-Version: 3.9.6

Package: python3-anyio
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: High level compatibility layer for multiple asynchronous eve
 .. image:: https://travis-ci.com/agronholm/anyio.svg?branch=master
   :target: https://travis-ci.com/agronholm/anyio
   :alt: Build Status
 .
 AnyIO is a asynchronous compatibility API that allows applications and libraries written against
 it to run unmodified on asyncio_, curio_ and trio_.
 .
 It bridges the following functionality:
 .
 * Task groups
 * Cancellation
 * Threads
 * Signal handling
 * Asynchronous file I/O
 * Synchronization primitives (locks, conditions, events, semaphores, queues)
 * High level networking (TCP, UDP and UNIX sockets)
 .
 .. _asyncio: https://docs.python.org/3/library/asyncio.html
 .. _curio: https://github.com/dabeaz/curio
 .. _trio: https://github.com/python-trio/trio

