name: test suite

on:
  push:
    branches: [master, 4.0-dev]
  pull_request:

jobs:
  pyright:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.x
    - uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: pip-pyright
    - name: Install dependencies
      run: pip install -e . pyright pytest
    - name: Run pyright
      run: pyright --verifytypes anyio

  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11-dev", pypy-3.8]
        exclude:
        - os: macos-latest
          python-version: "3.8"
        - os: macos-latest
          python-version: "3.9"
        - os: macos-latest
          python-version: "3.11-dev"
        - os: macos-latest
          python-version: pypy-3.8
        - os: windows-latest
          python-version: "3.8"
        - os: windows-latest
          python-version: "3.9"
        - os: windows-latest
          python-version: "3.11-dev"
        - os: windows-latest
          python-version: pypy-3.8  # https://github.com/python-trio/trio/issues/1361
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: pip-test-${{ matrix.python-version }}-${{ matrix.os }}
    - name: Install dependencies
      run: pip install .[test] coveralls
    - name: Test with pytest
      run: coverage run -m pytest
      env:
        PYTEST_DISABLE_PLUGIN_AUTOLOAD: 1
      if: ${{ matrix.python-version != '3.11-dev' }}
    - name: Test with pytest
      run: pytest
      env:
        PYTEST_DISABLE_PLUGIN_AUTOLOAD: 1
      if: ${{ matrix.python-version == '3.11-dev' }}
    - name: Upload Coverage
      run: coveralls --service=github
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        COVERALLS_FLAG_NAME: ${{ matrix.test-name }}
        COVERALLS_PARALLEL: true

  coveralls:
    name: Finish Coveralls
    needs: test
    runs-on: ubuntu-latest
    container: python:3-slim
    steps:
    - name: Finished
      run: |
        pip install coveralls
        coveralls --service=github --finish
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
